<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portafolio II</title>
        <link rel="stylesheet" type="text/css" href="~/css/style.css">
    </head>
    <body>
        <div class="container">
            <nav>
                <a href="/">Home</a>
                <a href="/projects">Projects</a>
                <a href="/contact">Contact</a>
            </nav>
            <header>
                <h1>About Me</h1>
            </header>
            <main>
                <section>
                    <img src="~/img/Avatar_1.jpeg" alt="image">
                    <p>Babathy Jones</p>
                    <p>I love to code</p>
                </section>
                <aside>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Rem odio porro eum exercitationem a magni illum ad architecto
                            minima, veritatis sit quas iste, facere unde distinctio pariatur!
                            Autem, neque a?
                        </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Rem odio porro eum exercitationem a magni illum ad architecto
                        minima, veritatis sit quas iste, facere unde distinctio pariatur!
                        Autem, neque a?
                    </p>
                </aside>
            </main>
        </div>
    </body>
</html>